body {
    background-color: #2C2F33;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    width: 60%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #FF4655;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FFFFFF;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FF4655;
}

p, ul {
    font-family: 'Courier New', monospace;
}

img {
    max-width: 100%;
    height: auto;
}
